---
title: Home
description: Middleman Tailwind Boilerplate
---

<div class="flex flex-col items-center justify-center min-h-screen">
  
  <h1 class="text-2xl">
    Middleman Tailwind Boilerplate
  </h1>
  <%= link_to(
  "Tarik Kavaz",
  "https://tarikkavaz.com",
  target: "_blank"
) %>

</div>
